{{#with this}}
    <span class='modal-cocktail__close'>&times;</span>
	<div class="modal-cocktail__content-wrapper">
		<div class="modal-cocktail__image-wrapper">
			<img class="modal-cocktail__image" src='{{image}}' alt='' />
		</div>
		<div class="modal-cocktail__cocktail-info">
			<h3 class="modal-cocktail__name">{{name}}</h3>
			<p class="modal-cocktail__ingredients">INGREDIENTS</p>
			<p class="modal-cocktail__measure">Per cocktail</p>
			<ul class="modal-cocktail__ingredients-list">
				{{#each ingredients}}
					<li class="modal-cocktail__ingredient">&sext;<a class='ingredient-link' id='{{@key}}'> {{this}} {{@key}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div>
		{{insrtuction}}
	</div>
    <div class='modal-ingredient'>
        <div class='modal-ingredient__info'></div>
    </div>

{{/with}}